.main
  .main-header
    .main-header__box
      .main-header__box__leftbox
        .main-header__box__leftbox--group_name
          ここはグループ名です
        .main-header__box__leftbox--user_name
          Member : kuro
      =link_to "#" do
        .main-header__box__edit-btn
          edit
  .messages
    .message
      .message__info
        %p.message__info--name
          kuro
        %p.message__info--date
          2020/03/25(Wed) 12:12:30  
      %p.message__content
        おはよう！
    .message
      .message__info
        %p.message__info--name
          kuro
        %p.message__info--date
          2020/03/25(Wed) 12:12:30  
      %p.message__content
        おはよう！
    .message
      .message__info
        %p.message__info--name
          kuro
        %p.message__info--date
          2020/03/25(Wed) 12:12:30  
      %p.message__content
        おはよう！
  .form
    .form__message-area
      %input{type:"text", placeholder:"type_a_message", class: "form__message-area--text"}
      %label{class: "form__message-area__pic"}
        = icon('fas', 'image')
        %input{type: "file", class:"form__message-area__pic--icon"}
    %input{type: "submit", value: "Send", class:"form__send-btn"}