.message{data: {message: {id: message.id}}}
  .message__info
    %p.message__info--name
      = message.user.name
    %p.message__info--date
      = message.created_at.strftime("%Y年%m月%d日 %H時%M分")
  - if message.content.present?
    %p.message__content
      = message.content
  = image_tag message.image.url, class: 'lower-message__image' if message.image.present?