.main{
  height: 100％;
  width: calc(100vw - 300px);
  background-color: #fafafa;
}
.main-header{
  height: 100px;
  background-color: #ffffff;
  border-bottom: solid 1px #eeeeee;
}
.main-header__box{
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding:0px 40px;
  &__leftbox{
    &--group_name{
      margin-top: 35px;
      font-size: 20px;
      color: #333333;
    }
    &--user_name{
      margin-top: 15px;
      font-size: 12px;
      color: #999999;
    }
  }
  &__edit-btn{
    margin-top: 28px;
    height: 40px;
    width: 72px;
    line-height: 40px;
    font-size: 16px;
    color: #38aef0;
    padding: 0 20px;
    border: solid 1px #38aef0;
    position: absolute; /* aタグのアクティブ範囲をボタンのみにしている */
    right: 40px; /* aタグのアクティブ範囲をボタンのみにしている */
  }
}
.messages{
  padding: 35px 0px 0px 40px;
  height: calc(100vh - 100px - 90px);
  overflow: scroll;
}
.message{
  margin-bottom: 46px;
  &__info{
    margin-bottom: 12px;
    display: flex;
    &--name{
      font-size: 16px;
      color: #333333;
    }
    &--date{
      font-size: 12px;
      margin-left: 10px;
      color: #999999;
    }
  }
  &__content{
    font-size: 14px;
    color: #434A54;
  }
}
.form{
  height: 90px;
  background-color: #d2d2d2;
  padding: 20px 40px;
  &__box{
    display: flex;
    justify-content: space-between;
    &__message-area{
      width: 100%;
      height: 50px;
      background-color: #ffffff;
      position: relative;
      &--text{
        width: 100%;
        height: 100%;
        padding-left: 10px;
        border-style: none;
      }
      &__pic{
        height: 30px;
        position: absolute;
        top: 10px;
        right: 10px;
        cursor: pointer;
        font-size: 20px;
        &--icon{
          display: none;
        }
      }
    }
    &__send-btn{
      width: 100px;
      height: 50px;
      margin-left: 15px;
      text-align: center;
      line-height: 50px;
      background-color: #38aef0;
      color: white;
      cursor: pointer;
    }
  }
}